<hr>

<h2>GET fav city weather</h2>

<form [formGroup]="weatherform" (submit)="getWeather()">
  <table>
    <tr>
      <td>City</td>
      <td>
        <input type="text"  formControlName="city">
      </td>
    </tr>
    <tr>
      <td></td>
      <td> <button type="submit">Submit</button></td>
    </tr>
  </table>
</form>


<ul>
  <li *ngIf="(weather$ | async) as weather">City: {{ weather.city }}</li>
  <li *ngIf="(weather$ | async) as weather">Temperature: {{ weather.temperature }}</li>
  <li *ngIf="(weather$ | async) as weather">Visibility: {{ weather.visibility }} m</li>
  <li *ngIf="(weather$ | async) as weather">Sunrise: {{ weather.sunrise }} hrs</li>
  <li *ngIf="(weather$ | async) as weather">Sunset: {{ weather.sunset }} hrs</li>
  <li *ngIf="(weather$ | async) as weather">Weather: {{ weather.mainWeather }}</li>
  <li *ngIf="(weather$ | async) as weather">Description: {{ weather.description }}</li>

</ul>

<hr>
<h2>GET random number</h2>

<button type="button" (click)="getRandom()">Get RandomNumber</button>

<ul>
  <li >
    {{ randNum$ | async  }}
  </li>
</ul>

<hr>


<h2>POST /api/weather</h2>

<form [formGroup]="mainform" (submit)="postWithJson()">
  <table>
    <tr>
      <td>Name</td>
      <td>
        <input type="text"  formControlName="name">
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
        <input type="text"  formControlName="address">
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>
        <input type="number" min="12" max="100" size="10" value="0" formControlName="age">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">POST JSON</button>
        <button type="button" (click)="postWithForm()">POST FORM</button>
      </td>
    </tr>
  </table>

</form>

<hr>

<ul>
  <li >
    {{ (serverResponse$ | async)?.message }}
    {{ (serverResponse$ | async)?.timestamp }}
  </li>
</ul>


<!-- <h1>Logger</h1>

<app-logger></app-logger> -->